## Health insurence Prediction

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score

## Load Data

In [15]:
df = pd.read_csv("datasheet/health_insurance.csv")
df.shape # (rows,colums)

(1338, 7)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [17]:
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [18]:
# Are there any missing values
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [19]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [20]:
df["sex"].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

### Label Encording

In [21]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
cat_feature = ["sex", "smoker", "region"]

for feature in cat_feature:
    encode = LabelEncoder()
    encoded_data = encode.fit_transform(df[feature])
    df[feature] = encoded_data

    mapping = dict(zip(encode.classes_, encode.transform(encode.classes_)))
    print(f"Mapping for {feature}: {mapping}")

Mapping for sex: {'female': 0, 'male': 1}
Mapping for smoker: {'no': 0, 'yes': 1}
Mapping for region: {'northeast': 0, 'northwest': 1, 'southeast': 2, 'southwest': 3}

In [24]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

### Spilt dataset

In [25]:
# Split data into x and y
X = df.drop("charges",axis=1)
y = df["charges"]

### Feature Scaling

In [26]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
standerd_X = scaler.fit_transform(X)
X = pd.DataFrame(standerd_X, columns=X.columns)

In [27]:
X.head()

        age       sex       bmi  children    smoker    region
0 -1.438764 -1.010519 -0.453320 -0.908614  1.970587  1.343905
1 -1.509965  0.989591  0.509621 -0.078767 -0.507463  0.438495
2 -0.797954  0.989591  0.383307  1.580926 -0.507463  0.438495
3 -0.441948  0.989591 -1.305531 -0.908614 -0.507463 -0.466915
4 -0.513149  0.989591 -0.292556 -0.908614 -0.507463 -0.466915

In [28]:
# Split data into train and test sets
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=32)

In [29]:
x_train

           age       sex       bmi  children    smoker    region
280   0.056461 -1.010519 -0.417230 -0.078767  1.970587 -1.372326
679   0.697271 -1.010519 -1.227610  0.751079 -0.507463 -0.466915
172  -1.509965  0.989591 -2.412011 -0.908614 -0.507463 -1.372326
45    1.124479  0.989591  1.088698 -0.908614 -0.507463  1.343905
330   1.551686 -1.010519  0.938597 -0.078767  1.970587 -1.372326
...        ...       ...       ...       ...       ...       ...
252   1.053277  0.989591  0.581801  0.751079  1.970587  0.438495
88    0.483668 -1.010519 -0.479567 -0.908614 -0.507463 -0.466915
892   1.053277  0.989591 -1.087352 -0.908614 -0.507463 -1.372326
1334 -1.509965 -1.010519  0.206139 -0.908614 -0.507463 -1.372326
727  -0.726752 -1.010519 -1.461373 -0.078767  1.970587 -1.372326

[1070 rows x 6 columns]

In [30]:
y_train

280     22331.56680
679     10156.78320
172      1694.79640
45      20630.28351
330     48517.56315
           ...
252     44260.74990
88       8026.66660
892     10422.91665
1334     2205.98080
727     16657.71745
Name: charges, Length: 1070, dtype: float64

### Model

In [55]:
from sklearn.ensemble import RandomForestRegressor

In [56]:
model_rf = RandomForestRegressor()

model_rf.fit(x_train,y_train)

RandomForestRegressor()

### Evaluation

In [57]:
y_preds = model_rf.predict(x_test)

In [58]:
y_preds

array([17157.4479097 , 17004.1673753 ,  5222.9370275 , 19271.1412972 ,
       10962.5639065 ,  2954.7614751 , 44346.4206385 ,  4365.1545498 ,
        6004.632183  , 10136.6696435 ,  3775.5541821 ,  4474.3364062 ,
       14730.7035749 , 47737.4917155 ,  9775.2821819 , 43145.0184318 ,
       12215.9474831 , 11360.7290154 , 10242.8698752 , 16214.1627635 ,
        6712.9086305 , 15203.26833   , 14692.3574912 ,  5612.8448877 ,
       44741.6492908 ,  2609.856456  ,  7649.3317982 , 17091.2125453 ,
       10772.4450364 , 20400.122183  ,  2374.3384998 ,  7883.0258575 ,
       13681.901603  , 14526.1121869 ,  9322.4958172 , 40062.0935365 ,
        7095.3458454 ,  4347.5595873 , 27387.7184848 , 19303.0381521 ,
        8182.5865224 ,  1632.011307  , 10065.9547526 ,  1945.927683  ,
        4908.9292564 ,  9446.3384008 ,  6294.5504549 , 12133.4883677 ,
       15552.354702  , 35909.7029158 , 16981.5727818 , 46788.6965716 ,
        4584.617034  ,  4098.9703872 , 16916.1490383 , 17568.242848  ,
        2573.599986  , 10012.7743493 , 12769.192926  , 16802.9041706 ,
       39423.692166  ,  4479.3209188 ,  6728.1238864 ,  1248.509603  ,
       12374.1054116 , 14233.3148598 , 11444.2503089 , 19643.7175426 ,
       18592.4310063 ,  1560.1246596 , 11583.1295475 ,  7105.4464218 ,
       11288.4324316 ,  3364.2603699 ,  4442.1373665 , 12384.7027107 ,
       20188.3491905 , 12647.2020149 , 23419.6497182 , 15981.9232455 ,
        8871.1423883 ,  4214.8875481 ,  3273.334102  ,  9366.2296655 ,
        1806.09894583,  6730.8206296 , 15832.6367011 , 11548.6083003 ,
       11043.8766306 , 18879.6871078 , 12596.4697158 ,  1707.2023665 ,
        6319.4155653 ,  2436.203226  , 17121.6926212 , 11386.128481  ,
       10165.3473239 ,  4648.274471  , 12494.8101411 ,  3605.4483683 ,
        6466.3251962 , 39016.5568677 , 45610.416142  ,  6954.3766405 ,
       11917.0272835 ,  5475.6605568 ,  8445.4754088 ,  7226.975353  ,
       13541.9248665 ,  2942.4677648 ,  6658.3932023 , 16504.4475909 ,
       23147.3311078 , 14992.8023404 , 12064.1273951 , 14276.912187  ,
       14374.8092487 ,  1963.4582575 , 47762.0171382 , 40951.8568177 ,
       38042.3850078 ,  9212.6112788 , 10907.7758098 ,  6031.6486035 ,
       17546.152796  ,  3767.6119115 , 17809.7726812 , 26808.812803  ,
       49057.5231421 ,  6664.4101815 , 17184.6578903 , 10667.379967  ,
        2825.6556017 ,  7858.1968893 ,  9246.8077496 ,  5964.3269649 ,
       12749.5033357 ,  5150.36854008,  6598.9435159 ,  4787.9717008 ,
        2490.6591085 , 15273.6855621 ,  9670.7134867 , 47739.9325856 ,
        6235.638909  , 13672.8675281 , 13375.5057347 , 14011.9155462 ,
       17827.1796612 ,  7951.4955094 , 37935.966846  , 14570.8907576 ,
       20165.1083548 , 12189.1682861 ,  2398.5318113 ,  6252.2578848 ,
        4342.3605059 , 12931.4631308 , 11614.6638045 ,  8604.4220817 ,
        9123.5785522 , 12267.1510606 , 22628.481424  ,  3456.8881875 ,
       43925.7242863 , 12359.0804225 , 14481.8022208 ,  2338.9934434 ,
        2061.791171  ,  9892.854362  ,  4279.1693404 , 16389.7900835 ,
        6958.2483225 ,  4747.2755672 , 12961.7957063 , 40916.3117779 ,
        6046.4537215 ,  6154.103024  ,  3291.3643457 ,  4279.3559595 ,
       15261.5459817 ,  6857.2857801 , 13277.2873535 ,  3908.1479499 ,
       11572.1032148 ,  6596.4576325 , 18481.8593447 , 10416.9784459 ,
        9425.3250275 ,  7671.5276753 ,  4408.109645  , 15031.0188817 ,
       33651.848124  , 11574.4058793 ,  3176.880735  ,  2026.9705571 ,
        9623.528845  ,  1933.9629778 , 22544.815671  ,  6541.8063322 ,
       10009.504117  , 13857.6046702 , 15847.6553569 ,  4726.8447458 ,
        7699.083182  , 12347.2028507 , 13590.1626929 , 16253.2287119 ,
       28675.9500223 , 12934.2364446 , 17064.9177746 , 12549.6812001 ,
        1720.717309  ,  5322.7499312 ,  4843.058841  ,  6196.7168145 ,
       48801.3147129 , 19606.7046504 ,  5109.8528505 , 46641.5150091 ,
       11829.7752887 ,  8822.3285185 ,  2281.1206595 ,  8988.7337631 ,
       17038.3372318 , 41323.3791895 , 11233.4243074 ,  6618.1606129 ,
        1628.82362   , 38811.9638644 , 13942.7085297 , 16880.2424327 ,
       14115.5656334 ,  7599.242705  ,  8077.4927579 ,  8861.8246472 ,
        3742.578369  , 40975.881095  , 10940.9135704 ,  6513.544472  ,
        8204.2134213 ,  4616.1411648 , 39977.5066181 ,  3796.221137  ,
       14223.7791929 ,  4370.1482854 , 14314.2273648 , 15432.9048552 ,
       40599.5044267 ,  7711.7731577 , 10220.6403975 , 20351.869077  ,
        3520.142153  ,  2692.8600661 , 34484.4087411 , 14165.2448576 ,
       10579.5016994 , 21791.3983045 , 21535.2255989 , 21272.6728189 ,
       14652.2002532 , 17286.2873467 ,  6438.9712734 , 12593.6539277 ,
        4503.3988791 , 39618.2863692 , 15060.3413664 , 15314.9372078 ])

In [59]:
mse = mean_squared_error(y_test, y_preds)
mse

22694239.651255723

In [60]:
mae = mean_absolute_error(y_test, y_preds)
mae

2679.480236318471

In [61]:
r2 = r2_score(y_test, y_preds)
r2

0.8323629108291346

In [62]:
import pickle

In [63]:
with open("model/model_2.pkl", "wb") as f:
    pickle.dump(model_rf, f)

In [64]:
## Load model

with open("model/model_2.pkl", "rb") as f:
    model = pickle.load(f)

gender	age	hypertension	heart_disease	smoking_history	bmi	HbA1c_level	blood_glucose_level

In [65]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [66]:
## Example

test_1 = {
    "age": 27,
    "sex" : 0,
    "bmi" : 24,
    "children" : 2,
    "smoker": 1,
    "region": 3
}

test_1 = pd.DataFrame([test_1])

In [67]:
test_scaled = scaler.transform(test_1)
test_1_df = pd.DataFrame(test_scaled, columns=test_1.columns)

In [68]:
test_1_df

        age       sex       bmi  children    smoker    region
0 -0.869155 -1.010519 -1.093093  0.751079  1.970587  1.343905

In [72]:
result = model.predict(test_1_df)
print(f"Changes : {result[0]:.2f}")

Changes : 17365.48