In [22]:
import pandas as pd

data = {
    'Cat' : ['A','B','A','B','A'],
    'Value': [10,20,15,25,30]
}
df = pd.DataFrame(data)
df

  Cat  Value
0   A     10
1   B     20
2   A     15
3   B     25
4   A     30

### groupby()
* Group data based on specified columns.

In [26]:
group_by = df.groupby('Cat')
group_by.sum()

     Value
Cat
A       55
B       45

### agg()
* Apply aggregation functions (sum, mean, etc.) on grouped data.

In [27]:
agg_by = group_by.agg({
    'Value': ['mean','sum']
})
agg_by

         Value
          mean sum
Cat
A    18.333333  55
B    22.500000  45